# 数据库配置
MYSQL_URL=jdbc:mysql://xxxx:3306/auto_diagram?useSSL=true&serverTimezone=Asia/Shanghai
MYSQL_USERNAME=your_username
MYSQL_PASSWORD=your_password

# OSS 配置
OSS_ENABLED=true
OSS_REGION=cn-beijing
OSS_ACCESS_KEY_ID=your_access_key_id
OSS_ACCESS_KEY_SECRET=your_access_key_secret
OSS_BUCKET=your_bucket
OSS_PREFIX=exports/{{date}}/

# SMTP 配置
SMTP_ENABLED=true
SMTP_FROM=your_email@163.com
SMTP_TO=recipient@qq.com
SMTP_HOST=smtp.163.com
SMTP_PORT=465
SMTP_USER=your_email@163.com
SMTP_PASS=your_email_password
SMTP_SUBJECT="ProcessOn 图片自动导出通知"
